<h1>Editing task</h1>

<% form_for(@task) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :type_id %><br/>
    <%= collection_select("task", :type_id, @types, "id", "name") %> 
  </p>
  <p>
    <%= f.label :state %><br />
    <%= select(:task, :state, Task::STATES) %>
  </p>
  <p>
    <%= f.label :assignee_id %><br/>
    <%= collection_select("task", :assignee_id, @assignees, "id", "name", 
                          options = {:include_blank => true}) %> 
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @task %> |
<%= link_to 'Back', tasks_path %>
