<h2>Enter a new task</h2>

<% form_for(@task, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :state, :value => "Open" %>

  <div class="span-4">
    <%= f.label :type_id %><br/>
    <%= collection_select("task", :type_id, @types, "id", "name") %> 
  </div>
  <div class="span-4"> 
    <%= f.label :assignee_id %><br/>
    <%= collection_select("task", :assignee_id, @assignees, "id", "name", 
                          options = {:include_blank => true}) %> 
  </div>
  <div class="span-8 append-8 last" >
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="span-24 last">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 5 %>
  </div>
  <div class="prepend-10 span-4 append-10 last">
    <%= f.submit 'Create' %>
    <input type="button" value="Back" onclick="location.href='<%= tasks_path %>'"/>
  </div>
<% end %>
