<p>
  <b>Type:</b>
  <%=h @task.type.name %>
</p>

<p>
  <b>State:</b>
  <%=h @task.state %>
</p>

<p>
  <b>Assignee:</b>
  <%=h @task.try(:assignee).try(:name) || "None" %>
</p>

<p>
  <b>Description:</b>
  <%=h @task.description %>
</p>

<p>
  <b>Url:</b>
  <%=h @task.url %>
</p>

<% if @task.audio_description && !@task.audio_description.empty? %>
  <p>
    <%= link_to "Audio description", audio_task_path(@task) %>
  </p>
<% end %>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
