<p>
  <b>Type:</b>
  <%=h @task.type.name %>
</p>
<p>
  <b>State:</b>
  <%=h @task.state %>
</p>

<p>
  <b>Description:</b>
  <%=h @task.description %>
</p>

<p>
  <b>Url:</b>
  <%=h @task.url %>
</p>

<p>
  <b>Audio description:</b>
  <%=h @task.audio_description %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
